<!-- Modal -->
<div class="modal fade" id="markdown-help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header" style="text-align: center;"><h3>Markdown 手册</h3></header>
            <div class="modal-body">
                <table style="width: 100%;text-align: center;">
                    <thead>
                    <tr>
                        <th style="text-align: center;">效果</th>
                        <th style="text-align: center;">Markdown</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>粗体字</strong></td>
                        <td>**text**</td>
                    </tr>
                    <tr>
                        <td><em>斜体字</em></td>
                        <td>*text*</td>
                    </tr>
                    <tr>
                        <td>
                            <del>删除线</del>
                        </td>
                        <td>~~text~~</td>
                    </tr>
                    <tr>
                        <td><a href="#">链接</a></td>
                        <td>[title](http://)</td>
                    </tr>
                    <tr>
                        <td><code>行内代码</code></td>
                        <td>`code`</td>
                    </tr>
                    <tr>
                        <td>图片</td>
                        <td>![alt](http://)</td>
                    </tr>
                    <tr>
                        <td>列表</td>
                        <td>* item</td>
                    </tr>
                    <tr>
                        <td>引用</td>
                        <td>&gt; quote</td>
                    </tr>
                    <tr>
                        <td>一级标题</td>
                        <td># Heading</td>
                    </tr>
                    <tr>
                        <td>二级标题</td>
                        <td>## Heading</td>
                    </tr>
                    <tr>
                        <td>三级标题</td>
                        <td>### Heading</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="text-align: center;">
                获得更多Markdown标签使用帮助，请访问 <a href="http://daringfireball.net/projects/markdown/syntax"
                                          target="_blank">Markdown 官方文档</a>。
            </div>
        </div>
    </div>
</div>