{% extends 'base.html' %}
{% block body %}
<div ng-app="myApp" ng-controller="ResetCtrl" ng-init="register_status = -1 " style="height:512px;background-color: #1abc9c">
    <div class="container">
            <div class="row" style="padding-top: 10%">
                <div class="col-md-3 col-md-offset-2">
                    <img src="../static/img/icons/svg/book.svg" alt="TODO LIST" style="margin-bottom: 50px;"/>
                    <!--<h4>Welcome to<br>-->
                        <!--<small></small>-->
                    <!--</h4>-->
                </div>

                <form class="login-form col-md-4" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="Enter your name"
                               id="login-name" name="username" ng-model="username"/>
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="Password"
                               id="login-pass" name="password" ng-model="password"/>
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <input ng-click="register()" class="btn btn-primary btn-lg btn-block" value="Modify Password">

                    <div class="form-group" ng-if="register_status == 0" ng-cloak>
                        <p>Success!</p>
                    </div>
                </form>
            </div>
    </div>
</div>
{% endblock %}>